autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
confdefs.h
conftest
conftest.c
conftest.o
distcheck
install-sh
Makefile
dxsh
*.o
*~
dxsh-*/
dxsh-*.tar.xz
test_exec/
